<!--Mask-->
<div id="intro" class="view" title="Image credit: M. Park/Inigo Films/LSST/AURA/NSF">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">LSST Dark Energy Science Collaboration</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">LSST DESC is the large international collaboration that will make high accuracy measurements of fundamental cosmological parameters using data from the Large Synoptic Survey Telescope.

                </div>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
