<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark {% if page.layout != 'home' %} unique-color-dark {% else %} scrolling-navbar fixed-top {% endif %}">

      <div class="container">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="{{ '/index.html' | relative_url }}"> {{site.brand}} </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNav"
    aria-controls="MainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="MainNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      {% assign pages = site.pages | group_by: 'category' %}
      {% for cat in pages %}
        {% assign items = cat.items | sort: 'order' %}

        <!-- Links without a category are placed at the root-->
        {% if cat.name == "" %}

          {% for item in items %}
            {% if item.title != undefined %}
            <li class="nav-item {% if item.url == page.url %}active{% endif %}">
              <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            </li>
            {% endif %}
          {% endfor %}

        {% else %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{ cat.name | capitalize }}</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              {% for item in items %}
                <a class="dropdown-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
    <!-- Links -->

    <!-- Social Icon  -->
    <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://twitter.com/lsstdesc" target="_blank">
          <i class="fab fa-twitter mr-3 text-light"></i>
        </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/LSSTDESC" target="_blank">
            <i class="fab fa-github mr-3 text-light"></i>
          </a>
        </li>
    </ul>
  </div>
  <!-- Collapsible content -->
  </div>

</nav>
<!--/.Navbar-->
